* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
nav li {
	display: inline-block;
	padding: 10px 20px;
}
header nav {
	display: inline-block;
}
.container {
	max-width: 1200px;
	margin: 0 auto 50px;
}
